
.header-fon {
 background-color: var(--primary-big-color);
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: #ECECEC;}
   
.main-header {
 display: flex;
 align-items: center;
}
   
.logo {
 color: #000000;  
 font-family: Raleway, sans-serif;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.2; 
 text-decoration: none;
 margin-right: 93px;

 &-web {
 color:var(--accent-color) }
}
  
.site-nav {
 display: flex;
}
.site-nav .item {
 margin-right: 50px; 

&:last-child {
 margin-right: 0;
 }
} 

.site-nav .link {
 display: block;
 padding-top: 32px;
 padding-bottom: 32px; 

 color: var(--title-text-color);
 font-weight: 500;
 line-height: 1.14; 
 letter-spacing: 0.02em;
 text-decoration: none; 
 
 position: relative;

 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 transition-duration: 250ms;
 transition-property: color;

&.current::after {
content: "";
 display: block;
 width: 100%;
 height: 4px;
 border-radius: 2px;
 position: absolute;
 bottom: 0;
 left: 0;
 margin: -1px;
 background-color: var(--accent-color);
 }
&:hover,
&:focus {
    color: var(--accent-color);
   }
&.current {
 color: var(--accent-color);
 }
}

.contacts {
 display: flex;
 margin-left: auto;
} 
.contacts .item + .item {
 margin-left: 50px;
} 
  
.contacts-link {
 display: flex;
 align-items: center;
 gap: 10px;

 color:var(--primary-text-color);
 font-weight: 500; 
 line-height: 1.14; 
 letter-spacing: 0.02em;
 text-decoration: none;

 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 transition-duration: 250ms;
 transition-property: color;

&:focus,
&:hover {
  color: var(--accent-color);}
}

.contact-icon {
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 transition-duration: 250ms;
 transition-property: fill;
 fill: currentColor;
}