.hero {
 text-align: center;
 align-items: center;
 padding-bottom: 118px; 
 padding-top: 118px;

@media screen and (min-width: 1200px) {
 padding-bottom: 200px; 
 padding-top: 200px;
  }
} 
.hero-title {
 color: var(--primary-big-color);
 font-weight: 900;
 font-size: 26px;
 line-height: 1.6;
 text-align: center;
 letter-spacing: 0.06em;
 text-transform: uppercase;
 margin-top: 0;
 margin-bottom: 30px;
 max-width: 360px;
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

@media screen and (min-width: 1200px) {
 font-size: 44px;
 line-height: 1.3;
 max-width: 696px;
 width: 100%;
 }
}  
.hero-fon {
 max-width: 480px;
 height: 400px;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 margin-left: auto;
 margin-right: auto; 
//  background-color: var(--secondary-big-color);
 background-image: linear-gradient(
 to right,
 rgba(47, 48, 58, 0.4),
 rgba(47, 48, 58, 0.4)
 ),
 url("../images/hero-bg/imgmob@1x.png");

 @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: linear-gradient(
 to right,
 rgba(47, 48, 58, 0.4),
 rgba(47, 48, 58, 0.4)
 ),
 url("../images/hero-bg/imgmob@2x.png");
  }

@media screen and (min-width: 768px) {
 max-width: 768px;
 height: 400px;
 background-image: linear-gradient(
 to right,
 rgba(47, 48, 58, 0.4),
 rgba(47, 48, 58, 0.4)
 ),
 url("../images/hero-bg/imgtab@1x.png");

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx){
   background-image: linear-gradient(
to right,
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)
),
url("../images/hero-bg/imgtab@2x.png");
}}


@media screen and (min-width: 1200px) {
 max-width: 1600px;
 height: 600px;
 background-image: linear-gradient(
 to right,
 rgba(47, 48, 58, 0.4),
 rgba(47, 48, 58, 0.4)
 ),
 url("../images/hero-bg/imgdeck@1x.png");

 @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: linear-gradient(
 to right,
 rgba(47, 48, 58, 0.4),
 rgba(47, 48, 58, 0.4)
 ),
 url("../images/hero-bg/imgdeck@2x.png");
}
 }

}