.navigation__portfolio-nav {
 @extend .navigation__portfolio-nav;
}

.portfolio__main-navigation {
 display: flex;
 align-items: center;
 padding-top: 91px;
 padding-bottom: 50px;
}
.navigation {
 display: flex;
 margin: auto;
 }
 
.navigation__item {
 margin-right: 8px;
 display: block;

&:last-child {
 margin-right: 0;
 }
}


.navigation__portfolio-nav {
 color: var(--title-text-color);
 background-color: #F5F4FA;;
 cursor: pointer;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.6;
 text-align: center;
 border-radius: 4px;
 padding: 6px 22px;
 border: 1px solid transparent;
 transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
 color: var(--primary-big-color);
 background-color: var(--accent-color);
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 }
}
