.team {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
}
.teams-fon {
  background-color: #F5F4FA;
 }
.team .card-item {
 flex-basis: calc((100% - 30px * 3) / 4);
 width: 270px;
&:last-child {
 margin-right: 0;
 }
}

.section-teams { 
 padding-bottom: 94px;
 padding-top: 94px;
}  
.heading-teams {
 color: var(--title-text-color);
 font-weight: 700;
 font-size: 36px;
 line-height: 1.16;
 text-align: center; 
 margin-bottom: 50px;
 margin-top: 0;
}
.card-item {
 background: var(--primary-big-color);
 border-radius: 0px 0px 4px 4px;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

&__name {
 margin-bottom: 10px;
 text-align: center;

 color: var(--title-text-color);
 font-weight: 500;
 font-size: 16px;
 line-height: 1.9;
 }
&__position {
 text-align: center;
 margin-bottom: 16px;
 } 
&__wrapper {
 padding-bottom: 30px;
 margin-top: 30px;
 }
}
